.movies-list {
  margin: 0;
  padding: 0;
  padding: 51px 70px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  justify-items: center;
  gap: 30px 24px;
  box-sizing: border-box;
}
