.movies-list {
  margin: 0;
  padding: 0;
  padding: 70px 70px 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  justify-items: center;
  gap: 30px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 892px) {
  .movies-list {
    padding: 70px 30px 30px;
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
    gap: 36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-list {
    padding: 40px 10px 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
}
