.portfolio {
  width: 100%;
  padding: 0 70px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__list {
  margin: 0;
  list-style: none;
}

.portfolio__item {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 19px;
}
