.header {
  width: 100%;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.header__main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  height: 74px;
  align-items: center;
}

.header__auth-container {
  width: 396px;
  margin: 0 auto;
  padding: 70px 0 40px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__buttons-block {
  display: flex;
  align-items: center;
}

/* общие свойства ссылок */
.header__link {
  text-decoration: none;
  color: black;
}

/* ссылки со страницы / */
.header__link_main-page {
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

/* ссылки со страницы movies */
.header__link_films {
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
}

.header__link_films:last-of-type {
  margin-right: 0;
}

/* выделенные ссылки */
.header__link_selected {
  font-weight: 500;
}

/* общие свойства для ссылок, оформленных кнопками */
.header__link_button {
  border: none;
  padding: 8px 20px;
  line-height: 16px;
}

/* кнопка Войти */
.header__link_signin {
  background: black;
  color: white;
  font-size: 12px;
  margin-left: 30px;
}

/* кнопка Аккаунт */
.header__link_account {
  background: #f9f9f9;
  border-radius: 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .header__auth-container {
    padding-top: 232px;
  }

  .header__main-container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 456px) {
  .header__auth-container {
    width: calc(100% - 2 * 30px);
  }

  .header_main-page {
    font-size: 10px;
  }

  .header_button {
    padding: 5px 12px;
  }

  .header__link_signin {
    font-size: 10px;
    margin-left: 14px;
  }
}

@media screen and (max-width: 320px) {
  .header__main-container {
    padding: 0 14px;
  }

  .header__auth-container {
    align-items: center;
  }
}
